hey
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Parkinsons UK
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <a href="/v1" class="govuk-back-link">Back</a>
        <span class="govuk-caption-xl">Step 1 of 3</span>
        <h1 class="govuk-heading-xl">Are these details right?</h1>

        <p>Your local council has sent us some information about you, so we can provide the right support for you.</p>

        <p>Are these details right?</p>

        <div class="panel">
            

                <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                          <dt class="govuk-summary-list__key">
                            Name
                          </dt>
                          <dd class="govuk-summary-list__value">
                            Sarah Philips
                          </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                          <dt class="govuk-summary-list__key">
                            Date of birth
                          </dt>
                          <dd class="govuk-summary-list__value">
                            5 January 1978 <br/>
                            Not claiming a pension
                          </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                          <dt class="govuk-summary-list__key">
                            Benefits
                          </dt>
                          <dd class="govuk-summary-list__value">
                            You are not claiming any benefits
                          </dd>
                        </div>
                      </dl>







        </div>

        <div class="govuk-form-group">
            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="waste-1" name="waste" type="checkbox" value="carcasses">
                <label class="govuk-label govuk-checkboxes__label" for="waste-1">Yes, these are my details</label> 
            </div>
        </div>

        <a href="/v1/onboarding/2" role="button" draggable="false" class="govuk-button">Next step</a>

    </div>
</div>

{% endblock %}
