// The unbranded stylesheet is used if you need to create pages in your
// prototype without the GOV.UK branding.
//
// See localhost:3000/docs/examples/blank-unbranded

// Import colour palette and applied colours so that we can use
// $govuk-body-background-colour in our overrides below.
// 
// If you need to enable compatibility mode or the legacy palette, do that
// *before* these imports.
@import "node_modules/govuk-frontend/settings/colours-palette";
@import "node_modules/govuk-frontend/settings/colours-applied";

// Style links and paragraphs by default
$govuk-global-styles: true;

// Override the govuk-frontend font stack
$govuk-font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;

// Override the canvas background colour, which is normally grey to blend with
// the GOV.UK footer.
$govuk-canvas-background-colour: $govuk-body-background-colour;

@import "node_modules/govuk-frontend/all";

.govuk-button{
    background-color: #006990 !important;
}

.panel{
    background: #f2f2f2;
    padding: 25px;
    margin-bottom: 30px;
    *:last-child{
        margin-bottom: 0px;
    }
}

.panel--blue{
    p, a{
        color: white !important;
    }
    background: #006990;
}

.service{
    margin: 20px 0px;
}

.flash{
    background-color: transparentize(#006990, 0.75);
    padding: 10px;
    margin-bottom: 30px;
    *:last-child{
        margin-bottom: 0px;
    }
}