// The unbranded stylesheet is used if you need to create pages in your
// prototype without the GOV.UK branding.
//
// See localhost:3000/docs/examples/blank-unbranded

// Import colour palette and applied colours so that we can use
// $govuk-body-background-colour in our overrides below.
// 
// If you need to enable compatibility mode or the legacy palette, do that
// *before* these imports.
@import "node_modules/govuk-frontend/settings/colours-palette";
@import "node_modules/govuk-frontend/settings/colours-applied";

// Style links and paragraphs by default
$govuk-global-styles: true;

// Override the govuk-frontend font stack
$govuk-font-family: 'Nunito', sans-serif;

// Override the canvas background colour, which is normally grey to blend with
// the GOV.UK footer.
$govuk-canvas-background-colour: $govuk-body-background-colour;

$parkinsons-dark: #000045;
$parkinsons-blue: #00adf0;

@import "node_modules/govuk-frontend/all";


.grayscale {
    filter: grayscale(1)
}

.govuk-button {
    font-size: 18px;
    border: 1px solid transparent;
    border-radius: 4em;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    max-width: 27em;
    min-width: 8em;
    padding: 1em 2em .9em;
    text-align: center;
    text-decoration: none;
    transition: all 150ms ease-out;
    background-color: $parkinsons-dark;
    color: #fff;
    background-image: none;  
    box-shadow: none;

    &:hover {
        border-color: $parkinsons-dark;
        color: $parkinsons-dark;
        background-color: #fff;
    }
}

.govuk-input:focus {
    border-color: $parkinsons-blue;
    outline: none;
}

a.govuk-link-colour {
    color: $parkinsons-blue !important;
}

.govuk-details__summary:focus {
    background: $parkinsons-blue;
    outline-color: $parkinsons-blue;
}

.panel{
    background: #f2f2f2;
    padding: 25px;
    margin-bottom: 30px;
    *:last-child{
        margin-bottom: 0px;
    }
}

.service-item{
    margin-bottom: 10px;
}

    .govuk-checkboxes--small .govuk-checkboxes__label{
        padding-top: 7px;
    }



.category{
    font-size: 0.9em;
    opacity: 0.5;
    margin-top: 5px;
    margin-bottom: 0px;
}

.panel--blue{
    p, a{
        color: white !important;
    }
    background: #006990;
}

.service{
    margin: 20px 0px;
}

.flash{
    background-color: transparentize(#006990, 0.75);
    padding: 10px;
    margin-bottom: 30px;
    *:last-child{
        margin-bottom: 0px;
    }
}

iframe{
    border: none;
}

header {
    background: $parkinsons-dark;
    height: 85px;

    .logo {
        background: #fff;
        overflow: hidden;
        width: 10em;
        padding: .4em .8em;
    }

    img {
        width: 10em;
    }
}