
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Parkinsons UK
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <span class="govuk-caption-xl">For professionals</span>
        <h1 class="govuk-heading-xl">Invite a patient</h1>

        {% if flash %}<div class="flash"><p class="govuk-body">{{flash}}</p></div>{% endif %}

        <p class="govuk-body-l">Health professionals can use this tool to invite patients to enroll for <a href="#">personalised support</a> from Parkinsons UK.</p>

        <p>We just need the patient's name and a contact detail, so we can send them a text message to start their journey.</p>

        <form action="professionals" method="post">

            <div class="govuk-form-group">
                <label class="govuk-label" for="name">
                    Their name
                </label>
                <input class="govuk-input govuk-input--width-20"" id="name" name="name" type="text" required>
              </div>
      
              <div class="govuk-form-group">
                  <label class="govuk-label" for="phone">
                      Their phone number
                  </label>
                  <input class="govuk-input govuk-input--width-20"" id="phone" name="phone" type="tel" required>
              </div>
      
              <div class="panel">
                <p>Has the patient given consent for their information to be shared with Parkinsons UK?</p>
                <div class="govuk-form-group">
                  <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="consent" name="consent" type="checkbox" required>
                      <label class="govuk-label govuk-checkboxes__label" for="consent">Yes, they have given consent</label> 
                  </div>
                </div>
              </div>
      
              <button href="#" role="button" draggable="false" class="govuk-button" type="submit">
                  Send invite
              </button>

        </form>



    </div>
</div>

{% endblock %}
