
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Parkinsons UK
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">Get personalised support from Parkinsons Direct</h1>

        <p>Finding out you have Parkinson’s affects everyone differently. Some people go through a range of emotions – from feeling overwhelmed to feeling relieved.</p>
        <p>We can provide personalised support and recommendations like:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li><strong>Support groups</strong> near you</li>
            <li><strong>Events</strong> near you</li>
            <li><strong>A medicine reminder service</strong>, which can send you emails and text messages</li>
            <li><strong>A forum</strong>, for you ask questions and network with other people living with Parkinsons</li>
            <li><strong>Chat</strong>, for you to ask expert advisors questions in real-time</li>
        </ul>

        <h2 class="govuk-heading-l">Get started</h2>
        <p>To give you the best recommendations, we need to know a little about you:</p>
        <a href="/v1/onboarding/1" role="button" draggable="false" class="govuk-button govuk-button--start">
            Start now  
        </a>

    </div>
</div>

{% endblock %}
