
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Parkinsons UK
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Your recommendations</h1>
        <p class="govuk-body-l">Personalised support from Parkinsons UK, and in your local area</p>
    </div>
</div>

<div class="panel panel--blue"><p><strong>Coming up:</strong> Support group meeting today at 6pm — <strong><a href="#">See details</a></strong></p></div>

<div class="govuk-grid-row">

    <div class="govuk-grid-column-one-third service">
        <h2 class="govuk-heading-m"><a href="#" class="govuk-link">Support groups near you</a></h2>
        <p>Support groups in your area that can help you live well with Parkinsons</p>
    </div>

    <div class="govuk-grid-column-one-third service">
        <h2 class="govuk-heading-m"><a href="/v1/medicine-reminders" class="govuk-link">Medicine reminders</a></h2>
        <p>Set up convenient email, SMS or phone call reminders for medications.</p>
    </div>

    <div class="govuk-grid-column-one-third service">
        <h2 class="govuk-heading-m"><a href="/v1/register" class="govuk-link">Ask a question on the forum</a></h2>
        <p>Our nationwide online community can give you support and advice.</p>
    </div>

    <div class="govuk-grid-column-one-third service">
        <h2 class="govuk-heading-m"><a href="#" class="govuk-link">Chat to an advisor</a></h2>
        <p>You can chat to an advisor online in real time, or call us on the phone.</p>
    </div>

    <div class="govuk-grid-column-one-third service">
        <h2 class="govuk-heading-m"><a href="#" class="govuk-link">Events near you</a></h2>
        <p>Fundraising events in your area</p>
    </div>



</div>



{% endblock %}
