
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Parkinsons UK
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Refer someone to support in their area</h1>
        <p class="govuk-body-l">Build a personalised list of support groups and activities around a person, decide which would be most useful, and make one referral for everything.</p>
    </div>
</div>

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
            <iframe src="https://www.google.co.uk/maps/d/u/0/embed?mid=1rIc3qGFfEzIq6nAbLThW-tmfVS8K0anB" width="100%" height="700"></iframe>
    </div>

    <div class="govuk-grid-column-one-third">
        <!-- <h2 class="govuk-heading-m">Medicine reminders</h2> -->
        
        
        
        <a href="/social-referral" role="button" draggable="false" class="govuk-button">
            Send referrals
        </a>


    </div>

</div>



{% endblock %}
