
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Parkinsons UK
{% endblock %}

{% block content %}

  <div class="govuk-grid-row grayscale">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Parkinsons Direct prototypes
        <span class="govuk-caption-xl">{{releaseVersion}}</span>
      </h1>

      <p>Clickable prototypes for user research at Parkinsons UK.</p>

      <h2 class="govuk-heading-m">Public</h2>
      <p>End user-facing flow</p>
      <a href="/v1" role="button" draggable="false" class="govuk-button govuk-button--start">
        Start now
      </a>

      <h2 class="govuk-heading-m">Health</h2>
      <p>Trigger interface for health professionals</p>
      <a href="/professionals" role="button" draggable="false" class="govuk-button govuk-button--start">
        Start now
      </a>

      <h2 class="govuk-heading-m">Social referral tool</h2>
      <p>A tool to help for local advisors</p>
      <a href="/social-referral" role="button" draggable="false" class="govuk-button govuk-button--start">
        Start now
      </a>

      <div class="panel">
        <h2 class="govuk-heading-m">Clear data</h2>
        <p>Parts of these protototypes will remember data the user enters. Use incognito/private mode, or <a href="/prototype-admin/clear-data" role="button" draggable="false" class="govuk-link">clear the data here</a>.</p>    
      </div>
     
    </div>
</div>

{% endblock %}
