{% extends "template.njk" %}

{% block headIcons %}
  <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet"> 
  <link rel="shortcut icon" href="{{ asset_path }}images/unbranded.ico?0.18.3" type="image/x-icon" />
  <link rel="mask-icon" href="{{ asset_path }}images/gov.uk_logotype_crown.svg?0.18.3" color="#0b0c0c">
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ asset_path }}images/apple-touch-icon-152x152.png?0.18.3">
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ asset_path }}images/apple-touch-icon-120x120.png?0.18.3">
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ asset_path }}images/apple-touch-icon-76x76.png?0.18.3">
  <link rel="apple-touch-icon-precomposed" href="{{ asset_path }}images/apple-touch-icon-60x60.png?0.18.3">
{% endblock %}

{% block head %}
  <link href="/public/stylesheets/unbranded.css" media="all" rel="stylesheet" type="text/css">
{% endblock %}

{% block header %}

<header>
    <div class="logo">
        <a href="/professionals/invites">
          <img src="https://www.parkinsons.org.uk/themes/custom/parkinsons/images/logo.svg" title="Parkinson's UK">
        </a>
    </div>
    
    <div style="align-self: center; margin-right: 2em; color: #fff;">
      <a style="color: #fff;" href="https://www.parkinsons.org.uk">Parkinson's UK website</a>&nbsp;&nbsp;|&nbsp;&nbsp;Helpline: 0808 800 0303
    </div>
</header>
{% endblock %}
{% block footer %}
  <footer>
    <div class="govuk-width-container">
      <a style="color: #fff;" href="https://www.parkinsons.org.uk/about-us/privacy-policy-30-January-2019">Privacy policy</a>
    </div>
  </footer>
    

{% endblock %}

{% block bodyEnd %}
  {% include "includes/scripts.html" %}
{% endblock %}
